.section {
  font-family: 'Minecraft Ten';
  font-size: 70px;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin: auto;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}

.section h2 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 5px;
  text-align: left;
}

.section p {
  font-family: 'Minecraft Regular';
  font-size: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 5px;
  text-align: left;
}

.slider-title {
  font-family: 'Minecraft Ten';
  font-size: 40px;
  height: 50px;
  padding-bottom: 10px;
  color: white;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(161, 161, 161);
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.4) inset, 
              -5px 0 0 rgba(113, 113, 113, 0.4) inset, 
              5px 0 0 rgba(192, 192, 192, 0.4) inset, 
              0 5px 0 rgba(255, 255, 255, 0.4) inset;
}  

.slider-container {
  width: 100%;
  max-width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.slider-view {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.slider-view img {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  transition: transform 0.5s ease;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
  user-select: none;
  z-index: 10;
}


#prev {
  left: 0;
  border-radius: 3px 0 0 3px
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(94, 94, 94);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  height: 20px;
  width: 20px;
  background-color: rgb(189, 189, 189);
}

.dimension-content {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.dimension-panel {
  font-family: 'Minecraft Ten';
  font-size: 60px;
  padding: 0 20px;
  max-height: 0;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  inset: unset;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #a0a0a0;
  box-shadow: 
    0 -5px 0 rgba(0, 0, 0, 0.5) inset,   
    -5px 0 0 rgba(113, 113, 113, 0.5) inset,   
    5px 0 0 rgba(192, 192, 192, 0.5) inset,    
    0 5px 0 rgba(255, 255, 255, 0.5) inset; 
  opacity: 0;
  transition: transform 0.5s ease;
  transition-delay: 0.2s;
  transform: scaleY(0);
  transform-origin: top;
}

.dimension-panel.active {
  max-height: 5000px;
  opacity: 1;
  transform: scaleY(1);
}

.biome-section {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 90%;
  background: #898989;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative; 
  box-shadow: 
    0 -5px 0 rgba(0, 0, 0, 0.5) inset,   
    -5px 0 0 rgba(113, 113, 113, 0.5) inset,   
    5px 0 0 rgba(192, 192, 192, 0.5) inset,    
    0 5px 0 rgba(255, 255, 255, 0.5) inset; 
}

.biome-title {
  font-size: 90px;
  flex: 1 0 50%;        
  height: 400px; 
  gap: 20px;   
  color: white;
  display: flex;
  width: 50%;          
  align-items: center;
  justify-content: center;
}

.biome-img {
  flex: 1 0 50%;        
  height: 400px; 
  gap: 20px;   
  color: white;
  display: flex;
  width: 50%;          
  align-items: center;
  justify-content: center;
  object-fit: contain;
  overflow: hidden;
}

.biome-img img {
  height: 400px;
  object-fit: contain;
}



