.sources-panel {
    margin: 50px auto;
    margin-top: 100px;
    width: 80vw;               
    height: 1000px;
    padding: 15px;
    background-color: #a0a0a0;
    box-shadow: 
        0 -5px 0 rgba(0, 0, 0, 0.5) inset,   
        -5px 0 0 rgba(113, 113, 113, 0.5) inset,   
        5px 0 0 rgba(192, 192, 192, 0.5) inset,    
        0 5px 0 rgba(255, 255, 255, 0.5) inset;     
}