body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #292929;
}

header {
    font-family: 'Minecraft Ten';
    background: #333333;
    color: white;
    padding: 15px 20;
    display:flex;
    align-items: center;
    font-size: 10px;
}

#navbar {
  background-color: #161616; 
  position: fixed; 
  top: 0; 
  width: 100%;
  padding: 20px 0px;
  font-size: 20px;
  transition: top 0.4s; 
  z-index: 1000; 
}

.sidenav {
  height: 100%; /* Full height */
  width: 0; /* Hidden by default */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; 
  transition: 0.3s;
  padding-top: 60px; 
  z-index: 2000; 
}

.sidenav a {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
}

h2 {
    margin: 0;
    font-size: 50px;
}
.container {
    background: #000000;
    padding: 0;
    text-align: center;
}

.container-img {
    width: 100%;
    height: 500px;
    background: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #9c9c9c;
    overflow: hidden;
}

.container h1 {
    font-size: 36px;
    background: white;
    padding: 10px 20px;
    margin-top: -40px;
}

.gradient {
  background: linear-gradient(to bottom, #292929, #171717);
}

.title {
    font-family: 'Minecraft Ten';
    font-size: 70px;
    color:white;
    margin-top: 40px;
    padding: 5px 20px;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 5; 
}

.section {
    font-family: 'Minecraft Ten';
    font-size: 70px;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.section h2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.section p {
    font-family: 'Minecraft Regular';
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.section-grid {
    display: flex;
    margin-top: 30px;
    background: #1e1e1e;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;  
}

.section-grid > * {
    flex: 1 1 200px;        
    min-height: 400px; 
    gap: 30px;       
    background: #333;
    color: white;
    display: flex;          
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease; 
    transform-origin: center;  
}

.section-grid:hover > * {
    transform: scale(1.05); 
    background:#454545;
}

.section-grid  a { 
    color: white;
    position: relative;      /* Required for underline */
    text-decoration: none;
}

.section-grid a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -10px;
    left: 0;
    color:white;
    background-color: white;
    transition: width 0.3s ease;
}

.section-grid  a:hover::after {
    width: 100%;
}

.placeholder img {
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.placeholder::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: background 0.4s ease; 
}

.section-grid:hover .placeholder::after {
    background: rgba(255, 255, 255, 0.1);
}

#timeline-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px; 
    z-index: 10;      
}

#timeline-title a {
    position: relative;
    color: white;
    text-decoration: none;
}

#timeline-title a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -10px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
}

#timeline-title a:hover::after {
    width: 100%;
}

footer {
    font-size: 14px;
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
