body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    background: #333333;
    color: white;
    padding: 15px 20;
    display:flex;
    align-items: center;
    font-size: 10px;
}

header #navbar {
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.container {
    background: #000000;
    padding: 0;
    text-align: center;
}

.container-img {
    width: 100%;
    height: 500px;
    background: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #9c9c9c;
    overflow: hidden;
}

.container h1 {
    font-size: 36px;
    background: white;
    padding: 10px 20px;
    margin-top: -40px;
}

.guide {
    text-align: center;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.guide h2 {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.title {
    font-size: 26px;
    margin-top: 40px;
    padding: 5px 20px;
    border-bottom: 2px solid black;
    display: inline-block;
}

.guide-grid {
    display: flex;
    margin-top: 30px;
    border: 1px solid black;
    background: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
}

.guide-box {
    font-size: 32px;
    font-weight: bold;
    width: 48%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guide-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.placeholder {
    width: 48%;
    height: 180px;
    border: 1px solid black;
    background: #e7e7e7;
    overflow: hidden;
}

footer {
    font-size: 14px;
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}