body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #292929;
}

header {
    background: #333333;
    color: white;
    padding: 15px 20;
    display:flex;
    align-items: center;
    font-size: 10px;
}

#navbar {
  background-color: #161616; 
  position: fixed; /
  top: 0; 
  width: 100%;
  padding: 20px 0px;
  font-size: 20px;
  transition: top 0.4s; 
  z-index: 1000; 
}

.sidenav {
  height: 100%; /* Full height */
  width: 0; /* Hidden by default */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; 
  transition: 0.3s;
  padding-top: 60px; 
  z-index: 2000; 
}

.sidenav a {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
}

h2 {
    margin: 0;
    font-size: 50px;
}
.container {
    background: #000000;
    padding: 0;
    text-align: center;
}

.container-img {
    width: 100%;
    height: 500px;
    background: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #9c9c9c;
    overflow: hidden;
}

.container h1 {
    font-size: 36px;
    background: white;
    padding: 10px 20px;
    margin-top: -40px;
}

.gradient {
  background: linear-gradient(to bottom, #292929, #171717);
}

.title {
    font-family: 'Minecraft Ten';
    font-size: 70px;
    color:white;
    margin-top: 40px;
    padding: 5px 20px;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 5; 
}

.guide {
    font-family: 'Minecraft Ten';
    font-size: 70px;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.guide h2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.guide p {
    font-family: 'Minecraft Regular';
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.guide-grid {
    display: flex;
    margin-top: 30px;
    border: 1px solid black;
    background: #1e1e1e;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;  
}

.guide-grid a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 100px;
    color: #353535;
    display: block;
    transition: 0.3s;
}

.guide-grid a:hover {
    color: rgb(53, 53, 53);
}

.guide-box {
    font-family: 'Minecraft Ten';
    color: white;
    width: 48%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.placeholder {
    width: 48%;
    min-height: 400px;
    border: 1px solid black;
    background: #e7e7e7;
    overflow: hidden;
    box-sizing: border-box;
    position: relative; 
}

.placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.guide-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px; 
    z-index: 10;      
}

footer {
    font-size: 14px;
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
