*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Minecraft Regular', sans-serif;
    background-color: #292929;
}

header {
    font-size: 10px;
    font-family: 'Minecraft Ten';
    background: #333333;
    color: white;
    box-sizing: border-box;
    display:flex;
    align-items: center;
}

#navbar {
    font-size: 25px;
    top: 0; 
    margin: 0;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    transition: top 0.4s; 
    background-color: #161616; 
    display: flex;
    align-items: center;
    position: fixed; 
    z-index: 1000; /* ensure navbar stays above all content */
}

#menu {
    font-size: 25px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
    color: #bebebe;
}

#menu:hover {
    color: #ffffff;
}

#logo {
    margin-right: 10px;
}

/*side navigation bar*/
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    transition: 0.3s;
    padding-top: 60px; 
    z-index: 2000; 
}

.sidenav a {
    font-family: 'Minecraft Regular', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c4c4c4;
    display: block;
    transition: 0.2s;
}

/*changes color when cursor hovers over it*/
.sidenav a:hover {
    color: #f5f5f5;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    color: #c4c4c4;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    color: #f5f5f5;
}

/*expandable sections*/
.nav-links {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-links .nav-accordion {
    color: rgb(114, 114, 114);
}

.nav-links a {
    color: rgb(215, 215, 215);
    text-decoration: none;
    margin-right: 20px;
}

.nav-links a:hover {
    color: rgb(233, 233, 233);
}

.disclaimer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    text-align: center;      
    height: 100vh;          
}

/* Style the buttons that are used to open and close the accordion panel */
.button {
    width: 0; 
    top: 0;
    left: 0;
    overflow: hidden; 
    transition: 0.3s;
    z-index: 999; /*below navbar but above content*/ 
}

/* color changes once cursor hovers over it*/
.button:hover {
    background-color: #333333;
    cursor: pointer;
}

.banner-img {
  height: auto;
  width: 100%;
  display: block;
  overflow: hidden;
}

.header-title {
  font-family: 'Minecraft Ten';
  font-size: 200px;
  color: white;
  width: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1 {
    font-family: 'Minecraft Ten';
    color: white;
    margin: 0;
    font-size: 80px;
}

h2 {
    font-family: 'Minecraft Ten';
    color: white;
    margin: 0;
    font-size: 60px;
}

p {
    font-family: 'Minecraft Regular';
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.page-banner {
  width: 100vw;
  max-width: 100%;
  height: 800px;
  background: #505050;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.head-title {
    font-family: 'Minecraft Ten';
    font-size: 40px;
    height: 50px;
    color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    background-color: rgb(161, 161, 161);
    width: 100%;
    box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.4) inset, 
                -5px 0 0 rgba(113, 113, 113, 0.4) inset, 
                5px 0 0 rgba(192, 192, 192, 0.4) inset, 
                0 5px 0 rgba(255, 255, 255, 0.4) inset;
}

/* gradient background */
.gradient {
    background: linear-gradient(to bottom, var(--color-top), var(--color-bottom));
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*overlay for dimmer images*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 5; 
}

footer {
    position: relative;   /* default */
    width: 100%;
    background: black;
    padding: 20px 20px;
    color: rgb(176, 176, 176);
    display: flex;
    flex-direction: column;
}

/* Row with first link + copyright */
footer .footer-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

footer .footer-row a {
    margin-right: 20px;
}

/* Push copyright to the right */
footer .footer-row span {
    margin-left: auto;
}

/* All links: hover animation */
footer * {
    position: relative;       /* for ::after */
    text-decoration: none;
    color: rgb(176, 176, 176);
}

footer *::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: white;
    transition: width 0.3s ease;
}

footer *:hover {
    color: white;
}

footer a:hover::after {
    width: 100%;
}

footer span:hover::after {
    width: 100%;
}

/* Links stacked below */
footer .footer-links a {
    display: block;
    margin-bottom: 10px;
}
