body {
    margin: 0;
    padding: 0;
    font-family: 'Minecraft Regular', sans-serif;
    background-color: #292929;
}

header {
    font-size: 10px;
    font-family: 'Minecraft Ten';
    background: #333333;
    color: white;
    box-sizing: border-box;
    display:flex;
    align-items: center;
}

#navbar {
    font-size: 25px;
    top: 0; 
    margin: 0;
    width: 100%;
    padding: 20px 5px;
    font-size: 20px;
    transition: top 0.4s; 
    background-color: #161616; 
    display: flex;
    align-items: center;
    position: fixed; 
    z-index: 1000; /* ensure navbar stays above all content */
}

#menu {
    font-size: 25px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
    color: #bebebe;
}

#menu:hover {
    color: #ffffff;
}

/*side navigation bar*/
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    transition: 0.3s;
    padding-top: 60px; 
    z-index: 2000; 
}

.sidenav a {
    font-family: 'Minecraft Regular', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c4c4c4;
    display: block;
    transition: 0.2s;
}

/*changes color when cursor hovers over it*/
.sidenav a:hover {
    color: #f5f5f5;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    color: #c4c4c4;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    color: #f5f5f5;
}

/*expandable sections*/
.nav-links {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-links .nav-accordion {
    color: rgb(114, 114, 114);
}

.nav-links a {
    color: rgb(215, 215, 215);
    text-decoration: none;
    margin-right: 20px;
}

.nav-links a:hover {
    color: rgb(233, 233, 233);
}

/* Style the buttons that are used to open and close the accordion panel */
.button {
    width: 0; 
    top: 0;
    left: 0;
    overflow: hidden; 
    transition: 0.3s;
    z-index: 999; /*below navbar but above content*/ 
}

/* color changes once cursor hovers over it*/
.button:hover {
    background-color: #333333;
    cursor: pointer;
}

.panel {
    position: absolute;
    max-height: 0;
    top: 100%;
    left: 0;
    background-color: #1f1f1f;
    overflow: hidden; 
    transition: max-height 0.3s ease, padding 0.3s ease;
    z-index: 999; /*below navbar but above content*/ 
}


h1 {
    font-family: 'Minecraft Ten';
    color: white;
    margin: 0;
    font-size: 50px;
}

p {
    font-family: 'Minecraft Regular';
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

/* gradient background */
.gradient {
    background: linear-gradient(to bottom, var(--color-top), var(--color-bottom));
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*overlay for dimmer images*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 5; 
}


footer {
    font-size: 14px;
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}