

.hero-banner {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 800px;
    background: #505050;
    padding: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-img {
    height: auto;
    width: 100%;
    display: block;
    overflow: hidden;
}

#title {
    font-family: 'Minecraft Ten';
    font-size: 70px;
    color:white;
    margin-top: 40px;
    padding: 5px 20px;
    display: inline-block;
}

.section {
    font-family: 'Minecraft Ten';
    font-size: 70px;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: auto;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}

.section h2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.section p {
    font-family: 'Minecraft Regular';
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.guide {
    display: flex;
    margin-top: 30px;
    background: #1e1e1e;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative; 
}

.guide > * {
    flex: 1 1 200px;        
    min-height: 400px; 
    gap: 30px;       
    background: #333;
    color: white;
    display: flex;          
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease; 
    transform-origin: center;  
}

.guide:hover > * {
    transform: scale(1.05); 
    background:#454545;
}

.guide a { 
    color: white;
    position: relative;    
    text-decoration: none;
}

.guide a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -10px;
    left: 0;
    color:white;
    background-color: white;
    transition: width 0.3s ease;
}

.guide a:hover::after {
    width: 100%;
}

.guide-img img {
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.guide-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: background 0.4s ease; 
}

.guide:hover .guide-img::after {
    background: rgba(255, 255, 255, 0.1);
}
