
.mob-section {
    font-family: 'Minecraft Ten';
    font-size: 60px;
    padding: 40px 20px;
    width: 100%;
    max-height: 0;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    max-height: none; 
}

.mob-types {  
    flex: 1 0 50%;      
    height: 400px; 
    gap: 20px;   
    width: 100%;
    color: white;
    display: flex;          
    align-items: center;
    justify-content: center;
} 

.mob-types > * {
    width: 50%;
    height: 400px;
}

.mob-img {
    height: 400px;
    object-fit: contain;
    overflow: hidden;
}