
/* gradient background */
.gradient {
    background: linear-gradient(to bottom, var(--color-top), var(--color-bottom));
    width: 100%;
    height: 100%;
    z-index: -1; /*appears behind all content*/
}

#title {
    font-family: 'Minecraft Ten';
    font-size: 70px;
    color:white;
    margin-top: 40px;
    padding: 5px 20px;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 5; 
}

.section { 
    margin: 0 5vw;
    display: flex;
    justify-content: flex-start;  
    align-items: flex-start;      
}

.section h1 {
    font-size: 80px;
    color: white;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.section p {
    font-family: 'Minecraft Regular';
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.selection-body {
    height: 400px;
    width: 10vw;   
    padding-bottom: 30px;     
    gap: 3px;
    color: rgb(58, 58, 58);             
    background: rgb(59, 59, 59);
    display: flex;
    flex-direction: column; 
    text-align: left;
}

.selection-body > * {
    margin-left: auto;
    cursor: pointer;
    padding-left: 10px;
    width: 7vw;
    height: 50px;
    color: rgb(147, 147, 147);
    box-shadow: 
        0 -5px 0 rgba(0, 0, 0, 0.2) inset,   
        0 0 0 rgba(113, 113, 113, 0.2) inset,   
        5px 0 0 rgba(192, 192, 192, 0.2) inset,    
        0 5px 0 rgba(255, 255, 255, 0.2) inset; 
    display: flex;
    text-align: center;
    align-items: center;
    transition: 0.3s;
}

.selection-body > *:hover {
    background-color: rgb(83, 83, 83);
}

.selection-body > *.active {
    width: 10vw;
    color:white;
    background-color: rgba(144, 144, 144, 1);
    box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.4) inset, 
                -5px 0 0 rgba(113, 113, 113, 0.4) inset, 
                5px 0 0 rgba(192, 192, 192, 0.4) inset, 
                0 5px 0 rgba(255, 255, 255, 0.4) inset;;
}

.mode-content {
    display: flex;
    flex: 1;
    width: 70vw;               
    height: 400px;
    padding: 15px;
    background-color: #a0a0a0;
    box-shadow: 
        0 -5px 0 rgba(0, 0, 0, 0.5) inset,   
        -5px 0 0 rgba(113, 113, 113, 0.5) inset,   
        5px 0 0 rgba(192, 192, 192, 0.5) inset,    
        0 5px 0 rgba(255, 255, 255, 0.5) inset;     
}

.mode-panel, .diff-panel {
    flex-direction: column;
}

.mode-panel h2, .diff-panel h2 {
    font-family: 'Minecraft Ten';
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: left;
}

.diff-body {
    display: flex;
    flex: 1;        
    height: 400px;
    padding: 15px;
    background-color: rgb(66, 66, 66);
}

.diff-content {
    display: flex;
    width: 20vw;               
    height: 400px;
    padding: 15px;
    background-color: #a0a0a0;
    box-shadow: 
        0 -5px 0 rgba(0, 0, 0, 0.5) inset,   
        -5px 0 0 rgba(113, 113, 113, 0.5) inset,   
        5px 0 0 rgba(192, 192, 192, 0.5) inset,    
        0 5px 0 rgba(255, 255, 255, 0.5) inset;     
}

.content-img {
    height: 10px;
    object-fit: contain;
}

.mechanics-panel {
    margin: 50px auto;
    margin-top: 100px;
    width: 80vw;               
    height: 1000px;
    padding: 15px;   
}

